{% load static %}

<div class="spider-form">


    <img src="{% static image %}"/>
    <div class="venom">
        <img src="{% static spider.icon_path %}">
        <h3 class="subtitle">{{ spider.type_spider }}</h3>
    </div>

    {% if spider.com_name != "" %}
        <div class="names">
            <p class = "description">Name: {{ spider.com_name }}</p>
            <p class = "description">{{ spider.sci_name }}</p>
        </div>
    {% endif %}

    <p class = "label"> {{ spider.help }}</p>
    <p class = "description">Upload a different spider:</p>
</div>
